### 4번 - 차량 신호등 데이터 격자화

In [1]:
# 가져다 쓸 모듈들
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns # 예쁜 matplotlib
import folium # 지도 시각화
import json # geojson 파일용
import geopandas as gpd # geojson 파일용
import matplotlib.font_manager as fm # 한글 폰트 사용

/opt/app-root/lib/python3.6/site-packages/geopandas/_compat.py:91: UserWarning: The Shapely GEOS version (3.8.0-CAPI-1.13.1 ) is incompatible with the GEOS version PyGEOS was compiled with (3.9.0-CAPI-1.16.2). Conversions between both will be slow.
  shapely_geos_version, geos_capi_version_string

In [2]:
filename = "30.대전광역시_차량등록현황_격자.geojson"
file = open(filename,encoding="utf8")
df2 = gpd.read_file(file)
df2

            gid  cars_cnt                                           geometry
0      다마846996         0  MULTIPOLYGON (((127.32871 36.19342, 127.32871 ...
1      다마847995         0  MULTIPOLYGON (((127.32983 36.19252, 127.32982 ...
2      다마847996         0  MULTIPOLYGON (((127.32982 36.19342, 127.32982 ...
3      다마847997         0  MULTIPOLYGON (((127.32982 36.19432, 127.32982 ...
4      다마847998         0  MULTIPOLYGON (((127.32982 36.19522, 127.32982 ...
...         ...       ...                                                ...
54907  라바052223         0  MULTIPOLYGON (((127.55799 36.39818, 127.55799 ...
54908  라바052224         0  MULTIPOLYGON (((127.55799 36.39908, 127.55799 ...
54909  라바053222         0  MULTIPOLYGON (((127.55910 36.39727, 127.55910 ...
54910  라바053223         0  MULTIPOLYGON (((127.55910 36.39818, 127.55910 ...
54911  라바053224         0  MULTIPOLYGON (((127.55910 36.39908, 127.55911 ...

[54912 rows x 3 columns]

In [3]:
df3=df2.copy()
df3['차량 신호등 수']=0
df3

,gid,cars_cnt,geometry,차량 신호등 수
0,다마846996,0,"MULTIPOLYGON (((127.32871 36.19342, 127.32871 ...",0
1,다마847995,0,"MULTIPOLYGON (((127.32983 36.19252, 127.32982 ...",0
2,다마847996,0,"MULTIPOLYGON (((127.32982 36.19342, 127.32982 ...",0
3,다마847997,0,"MULTIPOLYGON (((127.32982 36.19432, 127.32982 ...",0
4,다마847998,0,"MULTIPOLYGON (((127.32982 36.19522, 127.32982 ...",0
...,...,...,...,...
54907,라바052223,0,"MULTIPOLYGON (((127.55799 36.39818, 127.55799 ...",0
54908,라바052224,0,"MULTIPOLYGON (((127.55799 36.39908, 127.55799 ...",0
54909,라바053222,0,"MULTIPOLYGON (((127.55910 36.39727, 127.55910 ...",0
54910,라바053223,0,"MULTIPOLYGON (((127.55910 36.39818, 127.55910 ...",0
54911,라바053224,0,"MULTIPOLYGON (((127.55910 36.39908, 127.55911 ...",0

In [4]:
filename = "3월22일제발마지막-2.json"
file = open(filename,encoding="utf8")
df = gpd.read_file(file)
df.drop(df.loc[df['index']==-1].index, inplace=True)
df=df.reset_index()
del df['level_0']
df

,gu,dong,jibun,loc_cd,sgnl_drn_cd,sgnl_knd_cd,index,geometry
0,유성구,구암동,None,1,2,1,11724,POINT (127.32922 36.34867)
1,유성구,구암동,None,1,2,1,11724,POINT (127.32922 36.34862)
2,유성구,구암동,None,1,2,1,11723,POINT (127.32939 36.34836)
3,동구,삼정동,11-17전,1,2,1,47903,POINT (127.47768 36.33256)
4,유성구,구암동,None,1,2,1,11972,POINT (127.32955 36.34862)
...,...,...,...,...,...,...,...,...
11990,유성구,용계동,402-11도,1,2,1,8142,POINT (127.31254 36.32417)
11991,유성구,원촌동,141-2도,1,1,1,29903,POINT (127.40499 36.38643)
11992,유성구,원촌동,141-2도,1,2,1,29903,POINT (127.40497 36.38643)
11993,유성구,원신흥동,None,1,2,1,16422,POINT (127.34932 36.33803)
11994,유성구,원신흥동,None,1,2,1,13744,POINT (127.33813 36.33705)

In [5]:
for i in range (len(df['index'])):
    df3['차량 신호등 수'][df['index'][i]]+=1

/opt/app-root/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [6]:
df3['차량 신호등 수'].sum()==len(df)

True

In [8]:
df3.to_file("격자_04-신호등(차량등).json", driver="GeoJSON")